<div class="idea">
  <div class="stream-entry">
    <div class="content">
      <div class="">
        <div class="idea-header">
          <small class="time">
            <a href="#link to idea" class="" title="<%=idea.created%>">
              <span class="time" data-time="<%=idea.created%>" data-long-form="true">6m</span>
            </a>
          </small>
          <a class="" href="/<%=username%>" data-user-id="<%=appId%>">
            <img class="avatar" src="<%=imageUrl%>" alt="<%=firstName%> <%=lastName%>">
            <strong><a href="*" class="fullname"><%=firstName%> <%=lastName%></a></strong>
            <span class="username js-action-profile-name"><s>@</s><b><%=username%></b></span>
          </a>
          </div>
        <p class="idea-text"><%=idea.name%></p>
        <div class="idea-footer">
          <span><a href="">expand</a></span>
          <span class="hide idea-footer-menu">
            <span class="dropdown">
              <i class="icon-heart icon-blue"></i> 
              <a class="dropdown-toggle" id="dSupport" role="button" data-toggle="dropdown" data-target="#" href="">support</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dSupport">
                <li><a href="#">Great idea!</a></li>
                <li><a href="#">I want to participate</a></li>
                <li><a href="#">I want to invest</a></li>
              </ul>
            </span>
            <span>
              <i class="icon-user icon-blue"></i>
              <a href="">invite</a>
            </span>
            <span>
              <i class="icon-share-alt icon-blue"></i>
              <a href="">reply</a>
            </span>
            <span class="dropdown">
              <i class="icon-share icon-blue"></i>
              <a class="dropdown-toggle" id="dShare" role="button" data-toggle="dropdown" data-target="#" href="">share</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dShare">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">App.net</a></li>
                <li><a href="#">E-mail</a></li>
              </ul>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
