<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title%></title>
    <meta name="description" content="A description of the page" />
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="lib/coordel-bootstrap/css/coordel.css" rel="stylesheet" media="screen">
    <link href="css/ideas.css" rel="stylesheet" media="screen">
    <link rel="icon" href="/img/favicon.gif" /> 
    <% include ./includes/analytics %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a id="addIdea" data-toggle="modal" data-target="#addIdeaModal" type="button" rel="tooltip" title="Share your Great Idea" class="pull-right btn btn-primary"><i class="c-icon-add"></i></a>
          <div class="top-divider pull-right"></div>

          <div class="btn-group pull-right">
            <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><i class="c-icon-cog"></i><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/settings/profile" style="clearfix">
                  <img style="float:left;margin-right: 4px"  height="36" width="36" src="<%=imageUrl %>" class="img-rounded"/>
                  <div><%=fullName%></div>
                  <div style="font-size: 12px; color: #999; line-height: 16px">Edit profile</div>
                </a>
                <div class="clearfix"></div>
              </li>
              <li class="divider"></li>
              <li><a href="/logout">Sign out</a></li>
            </ul>
          </div>
          <div class="top-divider pull-right"></div>
          <div class="navbar-search pull-right">
            <input style="width: 163px" type="text" class="search-query" placeholder="Search">
          </div>
          
          <% include ./includes/nav %>
          <a style="cursor: default" class="brand" href="#"><img src="/img/logo.png"/></a>
        </div>
      </div>
    </div>
    <div class="wrapper clearfix">
      <div class="left-column">
        <div class="bg-white rounded">
          <ul class="nav nav-tabs nav-stacked">
            <li id="subNavCoordBlueprints" class="active"> 
              <a href="#coords"><i class="icon-chevron-right menu-chevron"></i>Coord blueprints</a>
            </li>
            <li id="subNavTaskBlueprints" >
              <a href="#tasks"><i class="icon-chevron-right menu-chevron"></i>Task blueprints</a>
            </li>
          </ul>
        </div>
        <% include includes/about %>
      </div>
      <div class="main-column">
        <div class="stream-container bg-white no-padding">
          <div class="stream-header">
            <h4 id="mainColumnHeader">Coord blueprints</h4>
            <div></div>
          </div>
          <div class="stream">
            <div id="stream-items-container" class="stream-items">
              
            </div>
          </div>
          <div class="stream-footer">
            <div style="margin: 0 auto; width: 100px;">
              <img class="logo" src="lib/coordel-bootstrap/img/logo.png"/>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include includes/modals %>

    <!--csrf -->
    <div class="hide" id="mainCsrf"><%=_csrf%></div>

    <!-- scripts -->
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/accounting/accounting.min.js"></script>
    <script src="lib/jquery/jquery.validate.min.js"></script>
    <script src="lib/jquery/jquery.infinitescroll.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/md5/md5.js"></script>
    <script src="/lib/linkify/linkify.min.js"></script>

    <!-- dojo           -->
    <script data-dojo-config="async: 1, dojoBlankHtmlUrl: '/blank.html',
        packages: [ {
            name: 'app',
            location: '/js/app'
        } ]"
    src="//ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"></script>
    <script>
      // load our app module and wait for the DOM to be ready
      require(['app/controllers/app', 'dojo/domReady!' ], function(app){
        //this let's us bootstrap the ideas from the server
        
        app.showBlueprints({_csrf:'<%=_csrf%>', blueprints: JSON.parse(unescape('<%-blueprints%>')), user: JSON.parse(unescape('<%- user%>')), username: '<%=username%>', menu: '<%=menu%>'});
        
      });
    </script>

    
  </body>
</html>
