<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <meta name="description" content="A description of the page" />
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/lib/coordel-bootstrap/css/coordel.css" rel="stylesheet" media="screen">
    <link href="/css/ideas.css" rel="stylesheet" media="screen">
    <link href="/css/slider/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="/img/favicon.gif" /> 
     <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a id="addIdea" data-toggle="modal" data-target="#addIdeaModal" type="button" rel="tooltip" title="Share your Great Idea" class="pull-right btn btn-primary"><i class="c-icon-add"></i></a>
          <div class="top-divider pull-right"></div>

          <div class="btn-group pull-right">
            <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><i class="c-icon-cog"></i><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/settings/profile" style="clearfix">
                  <img style="float:left;margin-right: 4px"  height="36" width="36" src="<%=imageUrl %>" class="img-rounded"/>
                  <div><%=fullName%></div>
                  <div style="font-size: 12px; color: #999; line-height: 16px">Edit profile</div>
                </a>
                <div class="clearfix"></div>
              </li>
              <li class="divider"></li>
              <li id="sign-out" data-token="<%=token%>"><a href="/logout">Sign out</a></li>
            </ul>
          </div>
          <div class="top-divider pull-right"></div>
          <div class="navbar-search pull-right">
            <input style="width: 163px" type="text" class="search-query" placeholder="Search">
          </div>
          
          <div class="nav-collapse collapse">
            <img class="beta" src="/img/beta.png"/>
            <ul class="nav">
              <li id="menuIdeas"><a id="menuIdeas" href="/"><i class="c-icon-idea"></i>Ideas</a></li>
              <li id="menuCoordel"><a href="http://app.coordel.com:8090/web"><i class="c-icon-coordel"></i>Workspace</a></li>
              <li id="menuBlueprints"><a href="/blueprints"><i class="c-icon-blueprint"></i>Blueprints</a></li>
              <li id="menuMe"><a href="/<%=username%>"><i class="c-icon-stream"></i>Mine</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <a style="cursor: default" class="brand" href="#"><img style="margin-left: 4px;" src="/lib/coordel-bootstrap/img/logo.png"/></a>
        </div>
      </div>
    </div>
    <div class="wrapper clearfix">
      <div class="left-column">
        <div class="bg-white rounded">
          <ul class="nav nav-tabs nav-stacked">
            <!--<li id="subNavAccount"> 
              <a href="/setting/account"><i class="icon-chevron-right menu-chevron"></i>Account<span id="navAccount" class="label pull-right"></span></a>
            </li>-->
            <li  id="subNavAccount">
              <a href="#"><i class="icon-chevron-right menu-chevron"></i>Account<span id="navAccount" class="label pull-right"></span></a>
            </li>
            <li  id="subNavProfile">
              <a href="#"><i class="icon-chevron-right menu-chevron"></i>Profile<span id="navProfile" class="label pull-right"></span></a>
            </li>
            <li id="subNavPassword">
              <a href="#"><i class="icon-chevron-right menu-chevron"></i>Password<span id="navPassword" class="label pull-right"></span></a>
            </li>
            <li id="subNavConnection">
              <a href="#"><i class="icon-chevron-right menu-chevron"></i>Connections<span id="navAppsetings" class="label pull-right"></span></a>
            </li>
          </ul>
        </div>
        <% include includes/about %>
      </div>
      <div class="main-column">
        <div class="stream-container no-padding bg-white">
          <div class="stream-header bg-white">
            <h4 id="mainColumnHeader">Profile</h4>
            <div></div>
          </div>
          <style>
            dd input[type=text], dd select, dd textarea{
              margin-bottom: 0;
            }

            dd > div {
              font-size: 14px;
            }

            dt,dd {
              margin-bottom: 20px;
            }
          </style>
          <div style="padding: 12px" id="settings">
            <div id="profileSettings" class="">
              <dl class="dl-horizontal">
                <dt>Profile image</dt>
                <dd>
                  <img id="userImage" class="img-rounded"  style="margin-right: 8px">
                  <div class="muted">Coordel uses <a target="_blank" href="http://gravatar.com">Gravatars</a> for profile images.</div>
                </dd>
              </dl>
              <hr>
               <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>
                  <input id="profileName" type="text"/>
                  <div class="muted">Enter your real name.</div>
                </dd>
                <dt>Location</dt>
                <dd>
                  <input id="profileLocation" type="text"/>
                  <div class="muted">Where are you?</div>
                </dd>
                <dt>Local currency</dt>
                <dd>
                  <select id="profileLocalCurrency">  
                    <option value="AUD">Australian Dollar</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="GBP">British Pound</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="CNY">Chinese Yuan Renminbi</option>
                    <option value="DKK">Danish Krone</option>
                    <option value="EUR">Euro</option>
                    <option value="HKD">Hong Kong Dollar</option>
                    <option value="JPY">Japanese Yen</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="PLN">Polish Zloty</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="SLL">Sierra Leone Leone</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="SEK">Swedish Krona</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="THB">Thai Baht</option>
                    <option value="USD">United States Dollar</option>
                  </select>
                  <div class="muted">Select your preferred currency. Transactions are done in Bitcoin, but your local currency will also be displayed.</div>
                </dd>
                <dt>Personal link</dt>
                <dd>
                  <input id="profilePersonalLink" type="text"/>
                  <div class="muted">Enter your personal website or blog.</div>
                </dd>
                <dt>Bio</dt>
                <dd>
                  <textarea id="profileBio" maxlength="160"></textarea>
                  <div class="muted">A little bit about you.</div>
                </dd>
                <dt>&nbsp;</dt>
                <dd>
                  <button id="profileSaveChanges" class="btn btn-primary">Save changes</button>
                </dd>
              </dl>
            </div>
            <div id="accountSettings" class="hide">
              <dl class="dl-horizontal">
                <dt>Username</dt>
                <dd>
                  <input id="accountUsername" type="text"/>
                  <div class="muted">Link to your Ideas at https://coordel.com/<%=username%>.</div>
                </dd>
                <dt>E-mail</dt>
                <dd>
                  <input id="accountEmail" type="text"/>
                  <div class="muted">Enter the e-mail you would like to use.</div>
                </dd>
                <dt>&nbsp;</dt>
                <dd>
                  <button id="accountSaveChanges" class="btn btn-primary">Save changes</button>
                </dd>
              </dl>
            </div>
            <div id="connectionSettings" class="hide">
              <dl class="dl-horizontal">
                <dt>Twitter connection</dt>
                <dd>
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button id="twitterConnectedOff" type="button" class="btn active">Off</button>
                    <button id="twitterConnectedOn" type="button" class="btn">On</button>
                  </div>
                  <div class="muted">Connect to <a target="_blank" href="https://twitter.com">Twitter</a> to enable the option to tweet your comments.</div>
                </dd>
                <dt>Coinbase connection</dt>
                <dd>
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button id="coinbaseConnectedOff" type="button" class="btn active">Off</button>
                    <button id="coinbaseConnectedOn" type="button" class="btn">On</button>
                  </div>
                  <div class="muted">Connect to <a target="_blank" href="https://coinbase.com">Coinbase</a> to enable Bitcoin payments.</div>
                </dd>
              </dl>
            </div>
            <div id="passwordSettings" class="hide">
              <dl class="dl-horizontal">
                <dt>Current password</dt>
                <dd>
                  <input id="passwordCurrent" type="password"/>
                  <div><a tabindex="-1" style="font-size: 12px" href="/password">Forgot your password?</a></div>
                </dd>
              </dl>
              <hr>
              <dl class="dl-horizontal">
                <dt>New password</dt>
                <dd>
                  <input id="passwordNew" type="password"/>
                  <div class="score" style="display: block;">
                    <span>
                      <b id="passwordStrengthIndicator" class="fill">&nbsp;</b>
                    </span>
                  </div>
                </dd>
                <dt>Verify password</dt>
                <dd>
                  <input id="passwordNewVerify" type="password"/>
                </dd>
                <dt>&nbsp</dt>
                <dd>
                  <div id="passwordErrorsContainer" class="alert alert-error hide">
                    <div id="passwordErrors"></div>
                  </div>
                  <div id="passwordSuccessContainer" class="alert alert-success hide">
                    <div id="passwordSuccess">Password update successful.</div>
                  </div>
                  <button id="passwordSaveChanges" class="btn btn-primary">Save changes</button>
                </dd>
              </dl>
            </div>
          </div>
          <div class="stream-footer bg-white">
            <div style="margin: 0 auto; width: 100px;">
              <img class="logo" src="/lib/coordel-bootstrap/img/logo.png"/>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include includes/modals %>


    <!--logout form -->
    <form class="hide" id="sign-out-form" method="post" action="/sessions/delete">
      <input type="submit" value="Logout">
      <input type="hidden" name="_csrf" value="<%= token%>">
    </form>

    <!--csrf -->
    <div class="hide" id="mainCsrf"><%=_csrf%></div>

    <!-- scripts -->
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/jquery/jquery-ui.custom.min.js"></script>
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/accounting/accounting.min.js"></script>
    <script src="/lib/jquery/jquery.validate.min.js"></script>
    <script src="/lib/jquery/jquery.infinitescroll.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/md5/md5.js"></script>

    <!-- dojo           -->
    <script data-dojo-config="async: 1, dojoBlankHtmlUrl: '/blank.html',
        packages: [ {
            name: 'app',
            location: '/js/app'
        } ]"
    src="//ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"></script>
    <script>
      // load our app module and wait for the DOM to be ready
      require(['app/controllers/settings', 'dojo/domReady!' ], function(app){
        //this let's us bootstrap the objects from the server
        app.init({_csrf:'<%=_csrf%>', profile: JSON.parse(unescape('<%-profile%>')), currencies: JSON.parse(unescape('<%-currencies%>')), user: JSON.parse(unescape('<%- user%>')), username: '<%=username%>', menu: '<%=menu%>', subNav: '<%=subNav%>'});
      });
    </script>
  </body>
</html>